.type-normal { color: AAA67F; }
.type-fire { color: E25822; }
.type-water { color: 77DDF7; }
.type-electric { color: F8D030; }
.type-grass { color: 77C74F; }
.type-ice { color: 98D8D8; }
.type-fighting { color: C03028; }
.type-poison { color: A040A0; }
.type-ground { color: E0C068; }
.type-flying { color: A890F0; }
.type-psychic { color: F85888; }
.type-bug { color: A8B820; }
.type-rock { color: B8A038; }
.type-ghost { color: 705898; }
.type-dragon { color: 7038F8; }
.type-dark { color: 705848; }
.type-steel { color: B8B8D0; }
.type-fairy { color: F0B6BC; }


.button-class {
    background-color: #4caf50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #4c65af;
  }